:root {
  --emt919-responder-navy: #020d23;
  --emt919-operational-navy: #072044;
  --emt919-burgundy: #a80f2a;
  --emt919-burgundy-shadow: #710018;
  --emt919-responder-blue: #0874f9;
  --emt919-signal-green: #7ebb2a;
  --emt919-white: #ffffff;
}
